a:link{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.Navbar{
  display: flex;
    flex-direction: row;
    width: 100vw;  
    height: 8vh;
    justify-content: space-around;
    margin-top: 0.5%;
    background-image: linear-gradient(white, rgb(205, 213, 255));
    /* background-image: linear-gradient(rgb(205, 213, 255),black); */
  background-color: white;
  box-shadow: 2px 2px 2px gray;
}
.Navbar :link{
  transition: 1s;
}
.Navbar :link:hover{
  padding: 0.15%;
  color: black;
}
