.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.cardUser img{
  width: 50vw;
  height: 40vh;
  /* border: 2px black; */
  /* box-shadow: 5px 5px 5px gray; */

}
.centerImg{
  width: 70vw;
  height: 60vh;
  box-shadow: 5px 5px 5px gray;
}

.Categorys {
  display: flex;
    flex-direction: row;
    width: 100vw;  
    justify-content: space-around;
}

.Buttons button{
  width: 10vw;
  height: 7vh;
}