.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.centerImg{
  width: 70vw;
  height: 60vh;
  box-shadow: 5px 5px 5px gray;
}

.Buttons {
  display: flex;
    flex-direction: row;
    width: 100vw;  
    justify-content: space-around;
}

.Buttons button{
  width: 20vw;
  height: 40vh;
}