.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(white, rgb(205, 213, 255),rgb(205, 213, 255));
  background-repeat: no-repeat;
  background-size:cover;
  padding-bottom: 10%;
}
h1{
  text-shadow: 2px 2px 2px rgb(161, 174, 238);
}
.message{
  color: red;
  font-weight: bold;
}
.cardUser img{
  width: 50vw;
  height: 40vh;
}
.centerImg{
  width: 70vw;
  height: 60vh;
  box-shadow: 5px 5px 5px gray;
}
.Categorys link{
  color: black;
}
.Categorys button{
margin: 0.5%;
  width: 20vw;
  height: 7vh;
  font-size: large;
}
input{
  width: 14vw;
  height: 4vh;
}
.buttonInputSearch{
margin: 0.5%;
  width: 6vw;
  height: 5vh;
  font-weight: bold;
}